.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.button1{
    background-color: rgba(179, 147, 48, 1);
    color: white;
    padding: 15px 35px;
    border: 0 ;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.button2{
    background-color: white;
    color: rgba(179, 147, 48, 1);
    padding: 15px 35px;
    border-radius: 8px;
    transition: all 1s;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  text-align: center;
  width: 50px; /* Ensure the container is a square */
  height: a4; /* Ensure the container is a square */
  border-radius: 50%;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 50%; /* Make the image circular */

  }




.button2:hover{
    background-color: rgba(179, 147, 48, 1);
    color: white;
}

.navLink {
    color: black !important; /* Set link color to dark black */
    transition: all 1s;
  }
  .navLink:focus{
    background-color: rgba(179, 147, 48, 1) !important;
    border-radius: 15px;
  }
  
.imgLogo{
    width: 100%;
}


@media (max-width: 1500px) {
    .buttonsContainer {
      width: 100%;
      margin: 1rem 0;
    }
    .navLink{
      margin : 0 !important ;
    }

  
    .mx-auto {
      justify-content: center;
    }
  
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
  
   
  }